<form name="vote" action="/participacoes" method="POST" id="vote" class=" w-full">

    <div class="form-field search-wrapper border-b-2 w-full flex justify-end items-center form-group ">
        <div class="form-data" data-grav-field="text" data-grav-disabled="" data-grav-default="null">
            <div class="form-input-wrapper ">
                <input name="data[email]" value="dsad" type="text" class="form-input border-none focus:ring-0 text-right w-full " placeholder="Email" required="required">
            </div>
        </div>
    </div>

    <input type="hidden" name="__form-name__" value="vote">
    <input type="hidden" name="__unique_form_id__" value="uclaazihqgjwdlx6y7wf">
    <input type="hidden" name="form-nonce" value="ee087bf5d8178e24e4966392365ad67b">

    <div class="button-wrapper inline-flex mx-auto">
        <button type="submit" class="btn btn w-full mt-2">Votar</button>
    </div>
</form>
